.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Header Styles */
.page-header {
  background-color: rgb(122, 3, 158);
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  min-height: 45px;
  line-height: 45px;
  padding: 0px 10px 0px 10px;
}

.logo {
  /* max-width: 80px; */
  max-height: 43px;
}

#active-project-dropdown {
  text-decoration: none;
}

select {
  background: transparent;
  color: white;
  font-size: 14pt;
  border: none;
  border-bottom: 2px solid white;
}

#current-user-panel {
  color: white;
  font-size: 14pt;
}
