/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@400;500;700&display=swap");

/* GENERAL STYLES: */

body,
h1,
h2,
h3,
#root {
  font-family: "Chakra Petch", sans-serif;
  font-weight: 500;
}

body,
html {
  height: 100%;
}

/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

ul {
  list-style: none;
  padding-inline-start: 10px;
  /* padding-inline-end: 5px; */
}

/* *******************HEADER STYLES**************** */
.page-header {
  background-color: rgb(122, 3, 158);
  /* border: 1px solid black; */
  display: flex;
  justify-content: space-between;
  height: 50px;
  line-height: 50px;
  padding: 0px 10px 0px 10px;
  z-index: 2;
}

.logo {
  max-height: 43px;
}

#active-project-dropdown {
  text-decoration: none;
}

select {
  background: transparent;
  color: white;
  font-size: 14pt;
  border: none;
  border-bottom: 2px solid white;
}

#current-user-panel {
  color: white;
  font-size: 14pt;
  font-weight: 700;
}

/* *******************SIDEBAR STYLES**************** */
.sidebar {
  width: 400px;
  display: flex;
  margin-left: 10px;
  /* margin-right: -20px; */
  margin-top: 10px;
  flex-direction: column;
  /* background: rgba(255, 0, 234, 0.5); */
  height: calc(100% - 10px);
  box-shadow: 10px 10px 20px 0px rgba(0, 110, 255, 0.527);
  background-image: linear-gradient(
    rgba(255, 0, 234, 0.5),
    rgba(153, 0, 255, 0.719)
  );

  --cornerClip: 50px;
  clip-path: polygon(
    0% 100%,
    0% var(--cornerClip),
    var(--cornerClip) 0%,
    150% 0%,
    150% 100%
  );
}

#sidebar-header {
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 10px;
}

.sidebar-button-container {
  display: flex;
  /* gap: 10px; */
  margin-top: auto;
  margin-bottom: 10px;
}

.sidebar-icon-container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
}

.sidebar-icon {
  width: 45px;

  /* -webkit-filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.5)); */
  filter: drop-shadow(0px 0px 4px rgb(255, 208, 0));
}

.sidebar-icon:hover {
  background: rgb(252, 92, 238);
  border-radius: 5px;
}

.btm-icon {
  margin-bottom: 10px;
}

.separator-icon {
  margin-top: auto;
}

/* LINK STYLES */
ul a {
  text-decoration: none;
  color: white;
}

ul a:hover {
  color: violet;
}

/* FONT STYLES */
.sidebar h3 {
  color: white;
  font-weight: 700;
}

/* Page Content Styles */
.page-main {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 50px);
  /* margin: auto; */
  /* flex: 1; */
  background: rgba(1, 19, 34, 0.95);
  /* border: 3px solid red; */
}

/* .main-content {
  height: 100vh;
  border: 2px solid blue;
  background: rgb(255, 0, 128);
} */
#root {
  height: 100%;
}

/* Debug Styles */
/* .test-border {
  border: 2px solid red;
}

.test-border-blue {
  border: 2px solid blue;
} */

/* Dashboard Styles */
.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.dashboard-stats-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  min-height: 40%;
}

.scroll-container {
  overflow-y: auto;
}

.full-width {
  width: 100%;
}

/* *************MODAL WINDOW STYLES************* */

#modal-window {
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  /* background: crimson; */
  left: 0;
  top: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}
/* TODO: */

#modal-window .modal-content {
  width: 70%;
  min-width: 800px;
  min-height: 50%;
  /* background-color: aqua; */
  /* margin: auto; */
  /* border-radius: 10px; */
  /* margin-top: 10%; */
  padding: 20px;
  background-image: linear-gradient(rgb(229, 255, 0), rgb(252, 36, 144));

  --cornerClipSize16: 40px;
  clip-path: polygon(
    0% 100%,
    0% var(--cornerClipSize16),
    var(--cornerClipSize16) 0%,
    100% 0%,
    100% calc(100% - var(--cornerClipSize16)),
    calc(100% - var(--cornerClipSize16)) 100%
  );
}

.drop-shadow-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: inherit; */
  filter: drop-shadow(0px 0px 8px rgb(247, 56, 215));
}

#modal-window input[type="text"] {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  margin: 5px 0;
  /* filter: drop-shadow(0px 0px 2px rgb(255, 255, 255)); */
}

#modal-window input[type="text"]::placeholder {
  color: rgba(255, 255, 255, 0.555);
}

#modal-window textarea {
  background: none;
  border: solid 2px white;
  margin: 5px 0;

  /* --cornerClip19: 6px;
  clip-path: polygon(
    0% 100%,
    0% var(--cornerClip19),
    var(--cornerClip19) 0%,
    100% 0%,
    100% calc(100% - var(--cornerClip19)),
    calc(100% - var(--cornerClip19)) 100%
  ); */
}

#modal-window textarea::placeholder {
  color: rgba(255, 255, 255, 0.555);
}

#modal-window input[type="date"] {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  margin: 5px 0;
}

#modal-window select {
  background: none;
  border: none;
  border-bottom: 2px solid white;
  margin: 5px 0;
}

/* **********Modal Tag Entry Format********** */
#tag-entry-wrapper .react-tag-input {
  background: none;
  border: none;
  /* border-bottom: 2px solid white; */
  border-radius: 0;
}

#tag-entry-wrapper input::placeholder {
  color: rgba(255, 255, 255, 0.555);
}

#tag-entry-wrapper .react-tag-input__tag {
  background-color: rgb(204, 0, 255);
  border-radius: 0;
  color: rgb(255, 218, 250);
  font-weight: 700;

  --cornerClip15: 6px;
  clip-path: polygon(
    0% 100%,
    0% var(--cornerClip15),
    var(--cornerClip15) 0%,
    100% 0%,
    100% calc(100% - var(--cornerClip15)),
    calc(100% - var(--cornerClip15)) 100%
  );
}

#tag-entry-wrapper .react-tag-input__tag__remove {
  background: rgb(229, 128, 255);
  border-radius: 0%;
}
#tag-entry-wrapper {
  width: calc(100% - 150px);
  padding-left: 0;
  margin: 5px 0;
}
/* #tag-entry-wrapper .react-tag-input__input {
  color: black;
} */

/* **************INPUT STYLES************ */
#selectors-panel {
  display: flex;
  align-items: center;
}

#priority-input,
#due-date-input,
#status-input {
  width: 150px;
  color: black;
  /* filter: drop-shadow(0px 0px 5px rgb(255, 253, 133)); */
}

#tags-row,
#bug-title-row,
#project-title-row {
  display: flex;
  align-items: center;
}

/* **************FORM STYLES************* */
#bug-form,
#project-form {
  margin-top: 60px;
}

#bug-form-id-stylized,
#project-form-id-stylized {
  position: absolute;
  top: 10px;
  left: 25px;
  font-size: 40pt;
  font-weight: 700;
  color: rgb(75, 83, 0);
}

#bug-form-title-stylized,
#project-form-title-stylized {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 30pt;
  /* font-weight: 700; */
  color: rgb(75, 83, 0);
}

#modal-window .row {
  display: flex;
}

#modal-window .col-sm-1 {
  width: 120px;
}

#modal-window .col-md-2 {
  width: 30%;
}

#modal-window .col-lg-3 {
  width: 60%;
}

#modal-window .col-lg-4 {
  width: 82%;
}

#modal-window .right-align-text {
  text-align: end;
  padding-right: 5px;
}

#modal-window textarea {
  width: 82%;
  height: 100px;
}

/* ****************MODAL BUTTONS**************** */
.form-btn-row .form-save-btn {
  --cornerClip17: 15px;
  clip-path: polygon(
    0% 120%,
    0% var(--cornerClip17),
    var(--cornerClip17) 0%,
    120% 0%,
    120% 120%
  );

  margin-right: 5px;
  width: 180px;

  background-color: rgb(255, 253, 133); /* Green */
  /* border: 2px solid pink; */
  border: none;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;

  /* filter: drop-shadow(0px 0px 4px rgb(255, 208, 0)); */
}

.form-btn-row .form-cancel-btn {
  --cornerClip18: 15px;
  clip-path: polygon(
    0% 100%,
    0% 0%,
    100% 0%,
    100% calc(100% - var(--cornerClip18)),
    calc(100% - var(--cornerClip18)) 100%
  );

  margin-left: 5px;
  width: 180px;

  background-color: rgb(255, 253, 133); /* Green */
  border: none;
  color: black;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}

/* #btn-hover-shadow:hover {
  filter: drop-shadow(0px 0px 4px rgb(76, 0, 255));
} */

.form-btn-row {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

/* Active Project */
.active {
  /* padding-right: -20px; */
  --cornerClipSize: 10px;
  /* color: red; */
  background-color: rgb(255, 0, 255);
  clip-path: polygon(
    0% 100%,
    0% var(--cornerClipSize),
    var(--cornerClipSize) 0%,
    100% 0%,
    100% calc(100% - var(--cornerClipSize)),
    calc(100% - var(--cornerClipSize)) 100%
  );
}

.active-bug-row {
  background-color: rgb(255, 0, 98);
  filter: drop-shadow(0px 0px 4px rgb(255, 0, 0));
}

/* ***********PROJECT LIST SUMMARY STYLES*********** */
.summary-item {
  display: flex;
  align-items: center;
  margin-right: 5px;
  height: 40px;
  margin-left: -20px;
  /* margin-right: -20px; */
  /* z-index: 5; */
}

.Open-Bug-Count {
  margin-left: auto;
  width: 25px;
  text-align: center;
  padding-right: 25px;
}

.id-container {
  width: 70px;
  text-align: center;
}

.project-title {
  overflow-y: hidden;
  overflow-x: hidden;
  /* line-height: 25px; */
  max-width: calc(100% - 70px - 30px);
}

table {
  color: white;
  text-decoration: none;
  position: relative;
  border-collapse: collapse;
  width: 100%;
  background-color: rgb(0, 88, 122);

  --cornerClip3: 15px;
  clip-path: polygon(
    0% 100%,
    0% 0%,
    calc(100% - var(--cornerClip3)) 0%,
    100% var(--cornerClip3),
    100% calc(100% - var(--cornerClip3)),
    calc(100% - var(--cornerClip3)) 100%
  );
  /* filter: drop-shadow(0px 0px 4px rgb(255, 208, 0)); */
}

#bugs-list-panel {
  /* margin-left: 10px; */
}
#bug-list {
  /* table-layout: fixed; */
  /* margin-left: 10px; */
  text-align: center;
}

th {
  position: sticky;
  top: 0px;
  max-height: 100%;
  background-color: rgb(47, 151, 137);
}

tr {
  height: 35px;
  color: white;
  text-decoration: none;
  /* margin-left: 10px; */
}

td {
  overflow: hidden;
}

.bug-status {
  font-size: 0.85em;
}

#bug-status-column {
  width: 85px;
}

.table-bug-id a {
  color: white;
  /* text-decoration: none; */
}

.table-bug-id a:hover {
  color: violet;
  /* text-decoration: none; */
}

.list-icon {
  width: 25px;
  padding: 1px 1px 1px 5px;
}

.list-icon:hover {
  background: rgb(252, 92, 238);
  border-radius: 5px;
}

/* Random Quote Component Styles */
.quote-container {
  display: flex;
  max-width: 60%;
  color: rgb(248, 167, 241);
  animation: 1s slide-down;
}

.center-align-text {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  /* align-content: center; */
  overflow: hidden;
  padding-top: 5px;
}

.quote-author-text {
  padding-bottom: 10px;
}

.center-align-text p {
  line-height: 18px;
  text-align: center;
}

#quote-text {
  max-width: 75%;
}

/* *************PROJECT PAGE STYLES*************** */

#project-page {
  display: flex;
  width: 100%;
  height: 100%;
}

#project-left-column {
  width: 55%;
}
/* TODO: */
#project-right-column {
  width: 45%;
  position: relative;
  overflow-x: hidden;
  filter: drop-shadow(0px 0px 5px rgba(252, 5, 198, 0.932));
}

#project-title-panel {
  display: flex;
  flex-direction: column;
  /* height: 120px; */
}

#project-title {
  display: flex;
  flex-direction: column-reverse;
  text-align: right;
  align-content: flex-end;
  /* height: 80px; */
  padding: 5px;
  position: relative;
  height: 80px;
  color: white;
}

#project-id-stylized {
  position: absolute;
  top: -11px;
  left: 6px;
  font-size: 40pt;
  font-weight: 700;
  color: rgba(132, 251, 255, 0.39);
}

#project-title-stylized {
  /* position: absolute;
  bottom: 50;
  right: 0; */
  font-size: 30pt;
}

/* ************PROJECT BUTTONS************** */
#project-buttons-panel {
  display: flex;
  justify-content: center;
  padding: 10px;
}
#project-edit-btn {
  --cornerClip4: 15px;
  clip-path: polygon(
    0% 120%,
    0% var(--cornerClip4),
    var(--cornerClip4) 0%,
    120% 0%,
    120% 120%
  );

  margin-right: 5px;
  width: 200px;

  background-color: #902194; /* Green */
  /* border: 2px solid pink; */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;

  /* filter: drop-shadow(0px 0px 4px rgb(255, 208, 0)); */
}
.button-wrap {
  filter: drop-shadow(0px 0px 4px rgb(109, 107, 255));
}

.button-wrap:hover {
  filter: drop-shadow(0px 0px 10px rgb(255, 146, 255));
}

#project-delete-btn {
  --cornerClip5: 15px;
  clip-path: polygon(
    0% 100%,
    0% 0%,
    100% 0%,
    100% calc(100% - var(--cornerClip5)),
    calc(100% - var(--cornerClip5)) 100%
  );

  margin-left: 5px;
  width: 200px;

  background-color: #902194; /* Green */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}

/* **************BUG ICON*************** */

.bug-icon {
  height: 66%;
  filter: drop-shadow(0px 0px 4px rgb(255, 208, 0));
}

#bug-icon-container {
  box-sizing: border-box;
  /* display: flex; */
  /* flex-direction: column; */
  /* margin-left: auto;
  margin-right: auto; */
  /* margin: auto; */
  height: 108px;
  width: 108px;
  /* margin-top: 15px; */
  /* margin-bottom: 5px; */
  margin: 0px 0px 0px 10px;
}

#bug-icon-container:hover {
  filter: drop-shadow(0px 0px 4px rgba(255, 146, 255, 0.747));
}

#bug-icon-background {
  /* padding: 20px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin: 5%; */
  /* border-radius: 10px; */
  background-color: rgb(255, 0, 98);
  height: 90%;
  width: 90%;

  --cornerClip6: 15px;
  clip-path: polygon(
    0% 100%,
    0% var(--cornerClip6),
    var(--cornerClip6) 0%,
    100% 0%,
    100% calc(100% - var(--cornerClip6)),
    calc(100% - var(--cornerClip6)) 100%
  );
}

#bug-btn-text {
  color: white;
  font-weight: 700;
  filter: drop-shadow(0px 0px 4px rgb(255, 208, 0));
}

/* **********PROJECT SUMMARY STATS************* */
#summary-panel {
  display: flex;
}

#summary-divider-panel {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
}

/* #project-title h2 {
  height: 40px;
  margin: 5px;
} */

#project-summary-stats {
  table-layout: fixed;
  width: 100%;
  text-align: center;
  /* margin-top: 50px; */

  --cornerClip7: 15px;
  clip-path: polygon(
    0% 100%,
    0% var(--cornerClip7),
    var(--cornerClip7) 0%,
    100% 0%,
    100% calc(100% - var(--cornerClip7)),
    calc(100% - var(--cornerClip7)) 100%
  );
}

.centered {
  /* display: flex; */
  margin-left: auto;
  margin-right: auto;
}

#project-progress-bar {
  border-radius: 0;
  --cornerClip8: 8px;
  clip-path: polygon(
    0% 100%,
    0% var(--cornerClip8),
    var(--cornerClip8) 0%,
    100% 0%,
    100% calc(100% - var(--cornerClip8)),
    calc(100% - var(--cornerClip8)) 100%
  );
}

/* ********* BUG DETAILS PANEL************** */

#select-bug-placeholder {
  display: flex;
  /* align-content: center; */
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 0.329);
  font-weight: 700;
}

#bug-details-panel {
  padding: 10px 0 10px 10px;

  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 0.25s;
  position: absolute;
  left: 100%;
  /* overflow: hidden; */
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  /* background-image: linear-gradient(red, yellow); */
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}

#details-top-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 10px 10px 10px;
  background-color: rgba(255, 252, 60, 0.76);

  --cornerClip12: 40px;
  clip-path: polygon(
    0% 100%,
    0% var(--cornerClip12),
    var(--cornerClip12) 0%,
    100% 0%,
    100% 100%
  );
}

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#bug-id-stylized {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 36pt;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.445);
}

#bug-title-stylized {
  /* position: absolute; */
  /* top: 0; */
  /* right: 0; */
  font-size: 24pt;
  /* font-weight: 700; */
}

#details-title {
  background-color: rgba(255, 252, 60, 0.76);
}

#stripe-separator {
  height: 20px;
  background: repeating-linear-gradient(
    45deg,
    rgba(255, 252, 60, 0.76),
    rgba(255, 252, 60, 0.76) 10px,
    rgba(255, 252, 60, 0) 10px,
    rgba(255, 252, 60, 0) 20px
  );
}

#details-panel {
  height: 100%;
}
#details-container {
  /* background-color: chocolate; */
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* margin-bottom: auto; */
  /* margin-top: auto; */
  padding-left: 10px;
  background-image: linear-gradient(
    rgba(255, 252, 60, 0.76),
    rgba(12, 212, 247, 0.76)
  );

  --cornerClip14: 30px;
  clip-path: polygon(
    0% 100%,
    0% 0%,
    100% 0%,
    100% calc(100% - var(--cornerClip14)),
    calc(100% - var(--cornerClip14)) 100%
  );
}

.centered-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

#delete-button-panel {
  /* margin-top: auto; */
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  padding-right: 14px;
}
#bug-delete-button {
  margin-top: auto;

  --cornerClip13: 15px;
  clip-path: polygon(
    0% 100%,
    0% var(--cornerClip13),
    var(--cornerClip13) 0%,
    100% 0%,
    100% calc(100% - var(--cornerClip13)),
    calc(100% - var(--cornerClip13)) 100%
  );

  margin-right: 5px;
  width: 180px;

  background-color: rgba(255, 252, 60, 0.76); /* Green */
  /* border: 2px solid pink; */
  border: none;
  /* color: white; */
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}

#bug-edit-btn {
  --cornerClip9: 15px;
  clip-path: polygon(
    0% 120%,
    0% var(--cornerClip9),
    var(--cornerClip9) 0%,
    120% 0%,
    120% 120%
  );

  margin-right: 5px;
  width: 180px;

  background-color: #008cff; /* Green */
  /* border: 2px solid pink; */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;

  /* filter: drop-shadow(0px 0px 4px rgb(255, 208, 0)); */
}

#bug-squash-btn {
  --cornerClip10: 15px;
  clip-path: polygon(
    0% 100%,
    0% 0%,
    100% 0%,
    100% calc(100% - var(--cornerClip10)),
    calc(100% - var(--cornerClip10)) 100%
  );

  margin-left: 5px;
  width: 180px;

  background-color: #008cff; /* Green */
  border: none;
  color: white;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
}

/* *******TAG STYLES********* */
#tag-display-wrapper .react-tag-input {
  background: none;
  border: none;
}

#tag-display-wrapper .react-tag-input__tag {
  background-color: rgb(204, 0, 255);
  border-radius: 0;
  color: rgb(255, 218, 250);
  font-weight: 700;

  --cornerClip15: 6px;
  clip-path: polygon(
    0% 100%,
    0% var(--cornerClip15),
    var(--cornerClip15) 0%,
    100% 0%,
    100% calc(100% - var(--cornerClip15)),
    calc(100% - var(--cornerClip15)) 100%
  );
}

/* 404 page not found styles */
.full-page {
  z-index: 5;
  width: 100vw;
  height: 100vh;
  /* display: flex;
  justify-content: center;
  align-items: center; */

  background-color: seagreen;
  color: seashell;

  position: absolute;
  top: 0;
  left: 0;
}

.centered-flex-vert {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.error_text {
  color: red;
}

/* Dashboard Panels */
#priority-tasks-panel {
  width: 65%;
}

#project-summary-chart {
  width: 35%;
}

/* Status Bar */
.status-bar-container {
  /* width: 100%; */
  margin-top: 9px;
}
/* 
.progress #status-bar {
  width: 100%;
} */

/* Background Video */
#bg-video {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -10;
  /* width: 100vw; */
  height: 100vh;
  overflow: hidden;
  /* opacity: 0.3; */
}
